body{
    background-color: #444;
    color: #ccc;
    font-size: 14px;
}
#meimg{
    width: 200px;
}
#themainevent{
    display: inline-block;
    background-color: #34ebeb;
    color: #111;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
#themainevent:hover{
    background-image: url('./media/rainbow.gif');
    background-repeat: no-repeat;
    background-width: 100%;
    color: #fff;
    box-shadow: 2px 2px 5px #000;
}
